<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderly.aid.sys.mapper.AqySysdepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elderly.aid.sys.entity.AqySysdepartment">
        <id column="DepartmentID" property="DepartmentID" />
        <result column="DepartmentName" property="DepartmentName" />
        <result column="Description" property="Description" />
        <result column="FatherDepartmentID" property="FatherDepartmentID" />
        <result column="Lat" property="Lat" />
        <result column="Lng" property="Lng" />
        <result column="DepartmentType" property="DepartmentType" />
        <result column="OrganizationID" property="OrganizationID" />
        <result column="Enable" property="Enable" />
        <result column="CreateTime" property="CreateTime" />
        <result column="CreateBy" property="CreateBy" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="ModifyBy" property="ModifyBy" />
        <result column="DeleteFlag" property="DeleteFlag" />
        <result column="DeleteBy" property="DeleteBy" />
        <result column="DeleteTime" property="DeleteTime" />
    </resultMap>

</mapper>
