<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderly.aid.mapper.area.AqyAreaVillageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elderly.aid.entity.area.AqyAreaVillage">
        <id column="VillageID" property="VillageID" />
        <result column="VillageCode" property="VillageCode" />
        <result column="VillageName" property="VillageName" />
        <result column="TownCode" property="TownCode" />
        <result column="CreateTime" property="CreateTime" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="DeleteFlag" property="DeleteFlag" />
        <result column="DeleteBy" property="DeleteBy" />
        <result column="DeleteTime" property="DeleteTime" />
    </resultMap>

</mapper>
