<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderly.aid.mapper.area.AqyAreaCountryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elderly.aid.entity.area.AqyAreaCountry">
        <id column="CountryID" property="CountryID" />
        <result column="CountryCode" property="CountryCode" />
        <result column="CountryName" property="CountryName" />
        <result column="CityCode" property="CityCode" />
        <result column="CreateTime" property="CreateTime" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="DeleteFlag" property="DeleteFlag" />
        <result column="DeleteBy" property="DeleteBy" />
        <result column="DeleteTime" property="DeleteTime" />
    </resultMap>

</mapper>
