<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderly.aid.area.mapper.AqyAreacityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elderly.aid.area.entity.AqyAreacity">
        <id column="CityID" property="CityID" />
        <result column="CityCode" property="CityCode" />
        <result column="CityName" property="CityName" />
        <result column="ProvinceCode" property="ProvinceCode" />
        <result column="CreateTime" property="CreateTime" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="DeleteFlag" property="DeleteFlag" />
        <result column="DeleteBy" property="DeleteBy" />
        <result column="DeleteTime" property="DeleteTime" />
    </resultMap>

    <!-- 通过省级ID查询城市ID-->
    <select id="getCityListByProvinceCode" resultType="com.elderly.aid.area.entity.AqyAreacity">
        SELECT
            CityID,
            CityCode,
            CityName,
            ProvinceCode,
            CreateTime,
            ModifyTime,
            DeleteFlag,
            DeleteBy,
            DeleteTime
        FROM
            Aqy_AreaCity
        WHERE
            ProvinceCode = #{ProvinceCode}
    </select>

</mapper>
