<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderly.aid.sys.mapper.AqySysusersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elderly.aid.sys.entity.AqySysusers">
        <id column="UserID" property="UserID" />
        <result column="Account" property="Account" />
        <result column="Salt" property="Salt" />
        <result column="Password" property="Password" />
        <result column="UserName" property="UserName" />
        <result column="MobileNumber" property="MobileNumber" />
        <result column="Photo" property="Photo" />
        <result column="Sex" property="Sex" />
        <result column="IsAdministrator" property="IsAdministrator" />
        <result column="IsOrganizationLeader" property="IsOrganizationLeader" />
        <result column="PositionID" property="PositionID" />
        <result column="Sort" property="Sort" />
        <result column="Description" property="Description" />
        <result column="OrganizationID" property="OrganizationID" />
        <result column="DepartmentID" property="DepartmentID" />
        <result column="Enable" property="Enable" />
        <result column="CreateTime" property="CreateTime" />
        <result column="CreateBy" property="CreateBy" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="ModifyBy" property="ModifyBy" />
        <result column="DeleteFlag" property="DeleteFlag" />
        <result column="DeleteBy" property="DeleteBy" />
        <result column="DeleteTime" property="DeleteTime" />
    </resultMap>

</mapper>
