<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderly.aid.sys.mapper.AqySysorganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elderly.aid.sys.entity.AqySysorganization">
        <id column="OrganizationID" property="OrganizationID" />
        <result column="OrganizationName" property="OrganizationName" />
        <result column="Phone" property="Phone" />
        <result column="Address" property="Address" />
        <result column="Description" property="Description" />
        <result column="Enable" property="Enable" />
        <result column="CreateTime" property="CreateTime" />
        <result column="CreateBy" property="CreateBy" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="ModifyBy" property="ModifyBy" />
        <result column="DeleteFlag" property="DeleteFlag" />
        <result column="DeleteBy" property="DeleteBy" />
        <result column="DeleteTime" property="DeleteTime" />
    </resultMap>

</mapper>
